@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-slate-900 bg-slate-50;
  }
}

@layer components {

  /* Glassmorphism helpers */
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20;
  }
}